<style>
  .hrconcepts-header {
    background-color: #414042;
    height: 2rem;
    padding: 0.4rem;
    color: white;

    display: flex;
    align-items: center;
  }

  .hrconcepts-header img {
    height: 1.6rem;
  }

  .hrconcepts-header span.title {
    margin-top: 0.4rem;
  }

  .hrconcepts-header span.title a {
    color: white;
  }
</style>

<header class="hrconcepts-header">
  <a href="https://hashrocket.com">
    <img src="https://d15zqjc70bk603.cloudfront.net/assets/brand/hr_logo_h_light-4cb402f22041c39699a752bd21aaa38ebd860b343ae20a5fe97342c8ec53f156.svg">
  </a>
  <span class="title">
    <a href="http://hrcpt.online">
      Concepts
    </a>
  </span>
</header>
