@import url("https://fonts.googleapis.com/css?family=Libre+Franklin:300,400,700");

$pill-color: #c7c9f4;
$pill-text-color: #fff;
$bluey-blue: #64bfdf;
$drawing-blue: darken(rgba(46, 170, 212, 1), 10%);

html,
* {
  font-family: "Libre Franklin", sans-serif;
}

.App {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(40px, 1fr));
  grid-template-areas:
    "header"
    "nav"
    "concepts"
    "footer";
}

.App-header {
  background-color: rgba(46, 170, 212, 0.1);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: baseline;
  color: white;
  padding: 0.8vh 1vw;
  grid-area: header;
  border-bottom: 1px solid $drawing-blue;

  .hr-container {
    display: flex;
  }

  h2 {
    margin: 0;
    align-self: flex-end;
  }

  h2 a.hr {
    text-decoration: none;
    display: inline-block;
    padding: 0.4rem 0 0rem 1.6rem;
    text-transform: uppercase;
    color: #082736;
    letter-spacing: 0.1em;
    font-weight: 900;
    font-size: 60%;
    line-height: 2;
    color: #ae1f23;
    background: url(https://d15zqjc70bk603.cloudfront.net/assets/brand/hr_logo_icon-81c617c883074d68d44a316868516dc57b3c22eebb0dd3625da85895e554d7fb.svg)
      left 55% no-repeat;
    background-size: 1.2rem auto;
    font-family: Raleway, "Helvetica Neue", Helvetica, sans-serif;
  }
}

.nav {
  background-color: #fff;
  display: flex;
  grid-area: nav;
  justify-content: center;
  margin-top: 1.5rem;

  .menu-item {
    color: darken($drawing-blue, 12%);
    padding: 0.1rem 1rem;
  }
}

.concepts {
  display: grid;
  flex-flow: column nowrap;
  grid-area: concepts;
  grid-gap: 2rem;
  grid-rows: 1fr 1fr;
  grid-template-columns: repeat(4, 1fr);
  justify-self: center;
  margin-top: 2rem;
  padding: 0;

  @media screen and (max-width: 1655px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (max-width: 1240px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 820px) {
    grid-template-columns: 1fr;
  }

  .concept {
    background: white;
    border-radius: 1rem;
    box-shadow: 0 0 12px 3px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    list-style: none;
    min-height: 20rem;
    padding: 2rem 2rem 1.5rem 2rem;
    width: 20rem;

    .image {
      margin-bottom: 1rem;
      width: 20rem;

      img {
        border: 1px solid lightgrey;
        width: 100%;
      }
    }

    .concept-heading {
      align-items: center;
      display: flex;

      .title,
      .title a {
        color: $bluey-blue;
        font-size: 1.875rem;
        font-weight: 400;
        margin-right: 0.5rem;
        text-decoration: none;
      }
    }

    .author,
    .author a {
      color: $bluey-blue;
      font-weight: 300;
      margin: 1rem 0;
      text-decoration: none;
    }

    .description {
    }

    .tech-stack {
      display: flex;
      margin-top: auto;
      padding-top: 1rem;

      .pill {
        background: $pill-color;
        border-radius: 12px;
        color: $pill-text-color;
        margin-right: 0.5rem;
        padding: 0.2rem 0.7rem;
      }
    }
  }
}

.footer {
  grid-area: footer;
}
