@media (max-width: 500px) {
  #letter0 {
    height: 36px;
    width: 16px;
    float: left;
    position: relative; }
  #shape1 {
    height: 18px;
    width: 18px;
    position: absolute;
    top: 6px;
    left: 0px;
    -moz-border-radius-topleft: 12px;
    -moz-border-radius-topright: 2px;
    -moz-border-radius-bottomright: 2px;
    -moz-border-radius-bottomleft: 12px;
    -webkit-border-radius: 12px 2px 2px 12px;
    border-radius: 12px 2px 2px 12px;
    z-index: 10;
    -webkit-transform: scale(1, 1) skew(0rad, 0rad) translate(0px, 0px) rotate(0deg);
    background-color: transparent;
    border-style: solid;
    border-top-color: rgba(100, 200, 100, 0.7);
    border-right-color: rgba(46, 170, 212, 0.7);
    border-bottom-color: rgba(46, 170, 212, 0.7);
    border-left-color: rgba(46, 170, 212, 0.7);
    border-top-width: 6px;
    border-right-width: 0px;
    border-bottom-width: 6px;
    border-left-width: 6px; }
  #letter1 {
    height: 36px;
    width: 24px;
    float: left;
    position: relative; }
  #shape2 {
    height: 18px;
    width: 12px;
    position: absolute;
    top: 6px;
    left: 8px;
    -moz-border-radius-topleft: 12px;
    -moz-border-radius-topright: 12px;
    -moz-border-radius-bottomright: 12px;
    -moz-border-radius-bottomleft: 12px;
    -webkit-border-radius: 12px 12px 12px 12px;
    border-radius: 12px 12px 12px 12px;
    z-index: 10;
    -webkit-transform: scale(1, 1) skew(0rad, 0rad) translate(0px, 0px) rotate(0deg);
    background-color: transparent;
    border-style: solid;
    border-top-color: rgba(100, 200, 100, 0.7);
    border-right-color: rgba(46, 170, 212, 0.7);
    border-bottom-color: rgba(46, 170, 212, 0.7);
    border-left-color: rgba(100, 200, 100, 0.7);
    border-top-width: 6px;
    border-right-width: 6px;
    border-bottom-width: 6px;
    border-left-width: 6px; }
  #letter2 {
    height: 36px;
    width: 24px;
    float: left;
    position: relative; }
  #shape3 {
    height: 0px;
    width: 0px;
    position: absolute;
    top: 6px;
    left: 8px;
    -moz-border-radius-topleft: 2px;
    -moz-border-radius-topright: 2px;
    -moz-border-radius-bottomright: 2px;
    -moz-border-radius-bottomleft: 2px;
    -webkit-border-radius: 2px 2px 2px 2px;
    border-radius: 2px 2px 2px 2px;
    z-index: 10;
    -webkit-transform: scale(1, 1) skew(0rad, 0rad) translate(0px, 0px) rotate(0deg);
    background-color: transparent;
    border-style: solid;
    border-top-color: transparent;
    border-right-color: rgba(46, 170, 212, 0.7);
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-top-width: 0px;
    border-right-width: 26px;
    border-bottom-width: 30px;
    border-left-width: 0px; }
  #shape4 {
    height: 30px;
    width: 6px;
    position: absolute;
    top: 6px;
    left: 8px;
    -moz-border-radius-topleft: 2px;
    -moz-border-radius-topright: 2px;
    -moz-border-radius-bottomright: 2px;
    -moz-border-radius-bottomleft: 2px;
    -webkit-border-radius: 2px 2px 2px 2px;
    border-radius: 2px 2px 2px 2px;
    z-index: 11;
    -webkit-transform: scale(1, 1) skew(0rad, 0rad) translate(0px, 0px) rotate(0deg);
    background-color: rgba(100, 200, 100, 0.7); }
  #shape5 {
    height: 0px;
    width: 0px;
    position: absolute;
    top: 6px;
    left: 16px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 2px;
    -moz-border-radius-bottomright: 2px;
    -moz-border-radius-bottomleft: 2px;
    -webkit-border-radius: 4px 2px 2px 2px;
    border-radius: 4px 2px 2px 2px;
    z-index: 12;
    -webkit-transform: scale(1, 1) skew(0rad, 0rad) translate(0px, 0px) rotate(0deg);
    background-color: transparent;
    border-style: solid;
    border-top-color: transparent;
    border-right-color: rgba(100, 237, 60, 0.8);
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-top-width: 0px;
    border-right-width: 18px;
    border-bottom-width: 22px;
    border-left-width: 0px; }
  #shape6 {
    height: 30px;
    width: 6px;
    position: absolute;
    top: 6px;
    left: 28px;
    -moz-border-radius-topleft: 2px;
    -moz-border-radius-topright: 2px;
    -moz-border-radius-bottomright: 2px;
    -moz-border-radius-bottomleft: 2px;
    -webkit-border-radius: 2px 2px 2px 2px;
    border-radius: 2px 2px 2px 2px;
    z-index: 13;
    -webkit-transform: scale(1, 1) skew(0rad, 0rad) translate(0px, 0px) rotate(0deg);
    background-color: rgba(46, 170, 212, 0.7); }
  #letter3 {
    height: 36px;
    width: 24px;
    float: left;
    position: relative; }
  #shape7 {
    height: 18px;
    width: 18px;
    position: absolute;
    top: 6px;
    left: 8px;
    -moz-border-radius-topleft: 12px;
    -moz-border-radius-topright: 2px;
    -moz-border-radius-bottomright: 2px;
    -moz-border-radius-bottomleft: 12px;
    -webkit-border-radius: 12px 2px 2px 12px;
    border-radius: 12px 2px 2px 12px;
    z-index: 10;
    -webkit-transform: scale(1, 1) skew(0rad, 0rad) translate(0px, 0px) rotate(0deg);
    transform: scale(1, 1) skew(0rad, 0rad) translate(0px, 0px);
    background-color: transparent;
    border-style: solid;
    border-top-color: rgba(46, 170, 212, 0.7);
    border-right-color: rgba(46, 170, 212, 0.7);
    border-bottom-color: rgba(100, 200, 100, 0.7);
    border-left-color: rgba(46, 170, 212, 0.7);
    border-top-width: 6px;
    border-right-width: 0px;
    border-bottom-width: 6px;
    border-left-width: 6px; }
  #letter4 {
    height: 36px;
    width: 24px;
    float: left;
    position: relative; }
  #shape8 {
    height: 30px;
    width: 6px;
    position: absolute;
    top: 6px;
    left: 8px;
    z-index: 10;
    -webkit-transform: scale(1, 1) skew(0rad, 0rad) translate(0px, 0px) rotate(0deg);
    background-color: rgba(46, 170, 212, 0.7); }
  #shape9 {
    height: 6px;
    width: 24px;
    position: absolute;
    top: 6px;
    left: 8px;
    z-index: 11;
    -webkit-transform: scale(1, 1) skew(0rad, 0rad) translate(0px, 0px) rotate(0deg);
    background-color: rgba(46, 170, 212, 0.7); }
  #shape10 {
    height: 4px;
    width: 22px;
    position: absolute;
    top: 20px;
    left: 8px;
    z-index: 12;
    -webkit-transform: scale(1, 1) skew(0rad, 0rad) translate(0px, 0px) rotate(0deg);
    background-color: rgba(100, 200, 100, 0.7); }
  #shape11 {
    height: 6px;
    width: 24px;
    position: absolute;
    top: 30px;
    left: 8px;
    z-index: 13;
    -webkit-transform: scale(1, 1) skew(0rad, 0rad) translate(0px, 0px) rotate(0deg);
    background-color: rgba(100, 200, 100, 0.7); }
  #letter5 {
    height: 36px;
    width: 24px;
    float: left;
    position: relative; }
  #shape12 {
    height: 30px;
    width: 6px;
    position: absolute;
    top: 6px;
    left: 10px;
    z-index: 10;
    -webkit-transform: scale(1, 1) skew(0rad, 0rad) translate(0px, 0px) rotate(0deg);
    background-color: rgba(46, 170, 212, 0.7); }
  #shape13 {
    height: 10px;
    width: 10px;
    position: absolute;
    top: 6px;
    left: 10px;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-radius: 0px 10px 10px 0px;
    border-radius: 0px 10px 10px 0px;
    z-index: 11;
    -webkit-transform: scale(1, 1) skew(0rad, 0rad) translate(0px, 0px) rotate(0deg);
    background-color: transparent;
    border-style: solid;
    border-top-color: rgba(100, 200, 100, 0.7);
    border-right-color: rgba(100, 200, 100, 0.7);
    border-bottom-color: rgba(46, 170, 212, 0.7);
    border-left-color: rgba(46, 170, 212, 0.7);
    border-top-width: 4px;
    border-right-width: 8px;
    border-bottom-width: 4px;
    border-left-width: 6px; }
  #letter6 {
    height: 36px;
    width: 22px;
    float: left;
    position: relative; }
  #shape14 {
    height: 6px;
    width: 26px;
    position: absolute;
    top: 6px;
    left: 8px;
    z-index: 10;
    -webkit-transform: scale(1, 1) skew(0rad, 0rad) translate(0px, 0px) rotate(0deg);
    background-color: rgba(100, 200, 100, 0.7); }
  #shape15 {
    height: 30px;
    width: 6px;
    position: absolute;
    top: 6px;
    left: 18px;
    z-index: 11;
    -webkit-transform: scale(1, 1) skew(0rad, 0rad) translate(0px, 0px) rotate(0deg);
    background-color: rgba(46, 170, 212, 0.7); }
  #letter7 {
    height: 36px;
    width: 36px;
    float: left;
    position: relative; }
  #shape16 {
    height: 6px;
    width: 20px;
    position: absolute;
    top: 18px;
    left: 8px;
    -moz-border-radius-topleft: 2px;
    -moz-border-radius-topright: 6px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-radius: 2px 6px 10px 10px;
    border-radius: 2px 6px 10px 10px;
    z-index: 10;
    -webkit-transform: scale(1, 1) skew(0rad, 0rad) translate(0px, 0px) rotate(0deg);
    background-color: transparent;
    border-style: solid;
    border-top-color: rgba(100, 200, 100, 0.7);
    border-right-color: rgba(46, 170, 212, 0.7);
    border-bottom-color: rgba(46, 170, 212, 0.7);
    border-left-color: rgba(46, 170, 212, 0.7);
    border-top-width: 6px;
    border-right-width: 6px;
    border-bottom-width: 6px;
    border-left-width: 0px; }
  #shape17 {
    height: 8px;
    width: 6px;
    position: absolute;
    top: 16px;
    left: 8px;
    z-index: 11;
    -webkit-transform: scale(1, 1) skew(0rad, 0rad) translate(0px, 0px) rotate(0deg);
    background-color: rgba(100, 237, 60, 0.8); }
  #shape18 {
    height: 12px;
    width: 20px;
    position: absolute;
    top: 6px;
    left: 8px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-radius: 10px 10px 0px 10px;
    border-radius: 10px 10px 0px 10px;
    z-index: 12;
    -webkit-transform: scale(1, 1) skew(0rad, 0rad) translate(0px, 0px) rotate(0deg);
    background-color: transparent;
    border-style: solid;
    border-top-color: rgba(46, 170, 212, 0.7);
    border-right-color: rgba(46, 170, 212, 0.7);
    border-bottom-color: rgba(46, 170, 212, 0.7);
    border-left-color: rgba(100, 200, 100, 0.7);
    border-top-width: 4px;
    border-right-width: 0px;
    border-bottom-width: 2px;
    border-left-width: 6px; } }

@media (min-width: 900px) {
  #letter0 {
    height: 72px;
    width: 32px;
    float: left;
    position: relative; }
  #shape1 {
    height: 36px;
    width: 36px;
    position: absolute;
    top: 12px;
    left: 0px;
    -moz-border-radius-topleft: 24px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 24px;
    -webkit-border-radius: 24px 4px 4px 24px;
    border-radius: 24px 4px 4px 24px;
    z-index: 10;
    -webkit-transform: scale(1, 1) skew(0rad, 0rad) translate(0px, 0px) rotate(0deg);
    background-color: transparent;
    border-style: solid;
    border-top-color: rgba(100, 200, 100, 0.7);
    border-right-color: rgba(46, 170, 212, 0.7);
    border-bottom-color: rgba(46, 170, 212, 0.7);
    border-left-color: rgba(46, 170, 212, 0.7);
    border-top-width: 12px;
    border-right-width: 0px;
    border-bottom-width: 12px;
    border-left-width: 12px; }
  #letter1 {
    height: 72px;
    width: 48px;
    float: left;
    position: relative; }
  #shape2 {
    height: 36px;
    width: 24px;
    position: absolute;
    top: 12px;
    left: 16px;
    -moz-border-radius-topleft: 24px;
    -moz-border-radius-topright: 24px;
    -moz-border-radius-bottomright: 24px;
    -moz-border-radius-bottomleft: 24px;
    -webkit-border-radius: 24px 24px 24px 24px;
    border-radius: 24px 24px 24px 24px;
    z-index: 10;
    -webkit-transform: scale(1, 1) skew(0rad, 0rad) translate(0px, 0px) rotate(0deg);
    background-color: transparent;
    border-style: solid;
    border-top-color: rgba(100, 200, 100, 0.7);
    border-right-color: rgba(46, 170, 212, 0.7);
    border-bottom-color: rgba(46, 170, 212, 0.7);
    border-left-color: rgba(100, 200, 100, 0.7);
    border-top-width: 12px;
    border-right-width: 12px;
    border-bottom-width: 12px;
    border-left-width: 12px; }
  #letter2 {
    height: 72px;
    width: 48px;
    float: left;
    position: relative; }
  #shape3 {
    height: 0px;
    width: 0px;
    position: absolute;
    top: 12px;
    left: 16px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
    z-index: 10;
    -webkit-transform: scale(1, 1) skew(0rad, 0rad) translate(0px, 0px) rotate(0deg);
    background-color: transparent;
    border-style: solid;
    border-top-color: transparent;
    border-right-color: rgba(46, 170, 212, 0.7);
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-top-width: 0px;
    border-right-width: 52px;
    border-bottom-width: 60px;
    border-left-width: 0px; }
  #shape4 {
    height: 60px;
    width: 12px;
    position: absolute;
    top: 12px;
    left: 16px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
    z-index: 11;
    -webkit-transform: scale(1, 1) skew(0rad, 0rad) translate(0px, 0px) rotate(0deg);
    background-color: rgba(100, 200, 100, 0.7); }
  #shape5 {
    height: 0px;
    width: 0px;
    position: absolute;
    top: 12px;
    left: 32px;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-radius: 8px 4px 4px 4px;
    border-radius: 8px 4px 4px 4px;
    z-index: 12;
    -webkit-transform: scale(1, 1) skew(0rad, 0rad) translate(0px, 0px) rotate(0deg);
    background-color: transparent;
    border-style: solid;
    border-top-color: transparent;
    border-right-color: rgba(100, 237, 60, 0.8);
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-top-width: 0px;
    border-right-width: 36px;
    border-bottom-width: 44px;
    border-left-width: 0px; }
  #shape6 {
    height: 60px;
    width: 12px;
    position: absolute;
    top: 12px;
    left: 56px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
    z-index: 13;
    -webkit-transform: scale(1, 1) skew(0rad, 0rad) translate(0px, 0px) rotate(0deg);
    background-color: rgba(46, 170, 212, 0.7); }
  #letter3 {
    height: 72px;
    width: 48px;
    float: left;
    position: relative; }
  #shape7 {
    height: 36px;
    width: 36px;
    position: absolute;
    top: 12px;
    left: 16px;
    -moz-border-radius-topleft: 24px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 24px;
    -webkit-border-radius: 24px 4px 4px 24px;
    border-radius: 24px 4px 4px 24px;
    z-index: 10;
    -webkit-transform: scale(1, 1) skew(0rad, 0rad) translate(0px, 0px) rotate(0deg);
    transform: scale(1, 1) skew(0rad, 0rad) translate(0px, 0px);
    background-color: transparent;
    border-style: solid;
    border-top-color: rgba(46, 170, 212, 0.7);
    border-right-color: rgba(46, 170, 212, 0.7);
    border-bottom-color: rgba(100, 200, 100, 0.7);
    border-left-color: rgba(46, 170, 212, 0.7);
    border-top-width: 12px;
    border-right-width: 0px;
    border-bottom-width: 12px;
    border-left-width: 12px; }
  #letter4 {
    height: 72px;
    width: 48px;
    float: left;
    position: relative; }
  #shape8 {
    height: 60px;
    width: 12px;
    position: absolute;
    top: 12px;
    left: 16px;
    z-index: 10;
    -webkit-transform: scale(1, 1) skew(0rad, 0rad) translate(0px, 0px) rotate(0deg);
    background-color: rgba(46, 170, 212, 0.7); }
  #shape9 {
    height: 12px;
    width: 48px;
    position: absolute;
    top: 12px;
    left: 16px;
    z-index: 11;
    -webkit-transform: scale(1, 1) skew(0rad, 0rad) translate(0px, 0px) rotate(0deg);
    background-color: rgba(46, 170, 212, 0.7); }
  #shape10 {
    height: 8px;
    width: 44px;
    position: absolute;
    top: 40px;
    left: 16px;
    z-index: 12;
    -webkit-transform: scale(1, 1) skew(0rad, 0rad) translate(0px, 0px) rotate(0deg);
    background-color: rgba(100, 200, 100, 0.7); }
  #shape11 {
    height: 12px;
    width: 48px;
    position: absolute;
    top: 60px;
    left: 16px;
    z-index: 13;
    -webkit-transform: scale(1, 1) skew(0rad, 0rad) translate(0px, 0px) rotate(0deg);
    background-color: rgba(100, 200, 100, 0.7); }
  #letter5 {
    height: 72px;
    width: 48px;
    float: left;
    position: relative; }
  #shape12 {
    height: 60px;
    width: 12px;
    position: absolute;
    top: 12px;
    left: 20px;
    z-index: 10;
    -webkit-transform: scale(1, 1) skew(0rad, 0rad) translate(0px, 0px) rotate(0deg);
    background-color: rgba(46, 170, 212, 0.7); }
  #shape13 {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 12px;
    left: 20px;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 20px;
    -moz-border-radius-bottomright: 20px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-radius: 0px 20px 20px 0px;
    border-radius: 0px 20px 20px 0px;
    z-index: 11;
    -webkit-transform: scale(1, 1) skew(0rad, 0rad) translate(0px, 0px) rotate(0deg);
    background-color: transparent;
    border-style: solid;
    border-top-color: rgba(100, 200, 100, 0.7);
    border-right-color: rgba(100, 200, 100, 0.7);
    border-bottom-color: rgba(46, 170, 212, 0.7);
    border-left-color: rgba(46, 170, 212, 0.7);
    border-top-width: 8px;
    border-right-width: 16px;
    border-bottom-width: 8px;
    border-left-width: 12px; }
  #letter6 {
    height: 72px;
    width: 44px;
    float: left;
    position: relative; }
  #shape14 {
    height: 12px;
    width: 52px;
    position: absolute;
    top: 12px;
    left: 16px;
    z-index: 10;
    -webkit-transform: scale(1, 1) skew(0rad, 0rad) translate(0px, 0px) rotate(0deg);
    background-color: rgba(100, 200, 100, 0.7); }
  #shape15 {
    height: 60px;
    width: 12px;
    position: absolute;
    top: 12px;
    left: 36px;
    z-index: 11;
    -webkit-transform: scale(1, 1) skew(0rad, 0rad) translate(0px, 0px) rotate(0deg);
    background-color: rgba(46, 170, 212, 0.7); }
  #letter7 {
    height: 72px;
    width: 72px;
    float: left;
    position: relative; }
  #shape16 {
    height: 12px;
    width: 40px;
    position: absolute;
    top: 36px;
    left: 16px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 12px;
    -moz-border-radius-bottomright: 20px;
    -moz-border-radius-bottomleft: 20px;
    -webkit-border-radius: 4px 12px 20px 20px;
    border-radius: 4px 12px 20px 20px;
    z-index: 10;
    -webkit-transform: scale(1, 1) skew(0rad, 0rad) translate(0px, 0px) rotate(0deg);
    background-color: transparent;
    border-style: solid;
    border-top-color: rgba(100, 200, 100, 0.7);
    border-right-color: rgba(46, 170, 212, 0.7);
    border-bottom-color: rgba(46, 170, 212, 0.7);
    border-left-color: rgba(46, 170, 212, 0.7);
    border-top-width: 12px;
    border-right-width: 12px;
    border-bottom-width: 12px;
    border-left-width: 0px; }
  #shape17 {
    height: 16px;
    width: 12px;
    position: absolute;
    top: 32px;
    left: 16px;
    z-index: 11;
    -webkit-transform: scale(1, 1) skew(0rad, 0rad) translate(0px, 0px) rotate(0deg);
    background-color: rgba(100, 237, 60, 0.8); }
  #shape18 {
    height: 24px;
    width: 40px;
    position: absolute;
    top: 12px;
    left: 16px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-topright: 20px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 20px;
    -webkit-border-radius: 20px 20px 0px 20px;
    border-radius: 20px 20px 0px 20px;
    z-index: 12;
    -webkit-transform: scale(1, 1) skew(0rad, 0rad) translate(0px, 0px) rotate(0deg);
    background-color: transparent;
    border-style: solid;
    border-top-color: rgba(46, 170, 212, 0.7);
    border-right-color: rgba(46, 170, 212, 0.7);
    border-bottom-color: rgba(46, 170, 212, 0.7);
    border-left-color: rgba(100, 200, 100, 0.7);
    border-top-width: 8px;
    border-right-width: 0px;
    border-bottom-width: 4px;
    border-left-width: 12px; } }
