  $transparent: transparent;
  $col11: rgba(46, 170, 212, 0.7);
  $col2: rgba(100, 200, 100, 0.7);
  $col148: rgba(100, 237, 60, 0.8);
  $size: 20px !default;

  @mixin border-sizes($t, $r, $b, $l){
    border-top-width: ($t * $size);
    border-right-width: ($r * $size);
    border-bottom-width: ($b * $size);
    border-left-width: ($l * $size);
  }

  @mixin border-colors($t, $r, $b, $l){
    border-top-color: $t;
    border-right-color: $r;
    border-bottom-color: $b;
    border-left-color: $l;
  }

  @mixin size($h, $w){
    height: ($h * $size);
    width: ($w * $size);
  }

  @mixin position($t, $l){
    position: absolute;
    top: ($t * $size);
    left: ($l * $size);
  }

  @mixin radius($tl, $tr, $br, $bl){
    @if $tl == 0 and $tr == 0 and $br == 0 and $bl == 0 {
    } @else {
      -moz-border-radius-topleft: ($tl * $size);
      -moz-border-radius-topright: ($tr * $size);
      -moz-border-radius-bottomright: ($br * $size);
      -moz-border-radius-bottomleft: ($bl * $size);
      -webkit-border-radius: ($tl * $size) ($tr * $size) ($br * $size) ($bl * $size);
      border-radius: ($tl * $size) ($tr * $size) ($br * $size) ($bl * $size);
    }
  }

  #letter0 {
    @include size(18, 8);
    float: left;
    position: relative;
  }

  #shape1{
    @include size(9, 9);
    @include position(3, 0);
    @include radius(6, 1, 1, 6);
    z-index: 10;
    -webkit-transform: scale(1, 1) skew(0.0rad, 0.0rad) translate(0px, 0px) rotate(0deg);
    background-color: transparent;
    border-style: solid;
    @include border-colors($col2, $col11, $col11, $col11);
    @include border-sizes(3, 0, 3, 3);
  }
  #letter1 {
    @include size(18, 12);
    float: left;
    position: relative;
  }

  #shape2{
    @include border-sizes(3, 3, 3, 3);
    @include size(9, 6);
    @include position(3, 4);
    @include radius(6, 6, 6, 6);
    z-index: 10;
    -webkit-transform: scale(1, 1) skew(0.0rad, 0.0rad) translate(0px, 0px) rotate(0deg);
    background-color: transparent;
    border-style: solid;
    @include border-colors($col2, $col11, $col11, $col2);
  }
  #letter2 {
    @include size(18, 12);
    float: left;
    position: relative;
  }

  #shape3{
    @include size(0, 0);
    @include position(3, 4);
    @include radius(1, 1, 1, 1);
    z-index: 10;
    -webkit-transform: scale(1, 1) skew(0.0rad, 0.0rad) translate(0px, 0px) rotate(0deg);
    background-color: transparent;
    border-style: solid;
    @include border-colors($transparent, $col11, $transparent, $transparent);
    @include border-sizes(1, 13, 15, 0);
  }

  #shape4{
    @include size(15, 3);
    @include position(3, 4);
    @include radius(1, 1, 1, 1);
    z-index: 11;
    -webkit-transform: scale(1, 1) skew(0.0rad, 0.0rad) translate(0px, 0px) rotate(0deg);
    background-color: $col2;
  }

  #shape5{
    @include size(0, 0);
    @include position(3, 8);
    @include radius(2, 1, 1, 1);
    z-index: 12;
    -webkit-transform: scale(1, 1) skew(0.0rad, 0.0rad) translate(0px, 0px) rotate(0deg);
    background-color: transparent;
    border-style: solid;
    @include border-colors($transparent, $col148, $transparent, $transparent);
    @include border-sizes(1, 9, 11, 0);
  }

  #shape6{
    @include size(15, 3);
    @include position(3, 14);
    @include radius(1, 1, 1, 1);
    z-index: 13;
    -webkit-transform: scale(1, 1) skew(0.0rad, 0.0rad) translate(0px, 0px) rotate(0deg);
    background-color: $col11;
  }
  #letter3 {
    @include size(18, 12);
    float: left;
    position: relative;
  }

  #shape7{
    @include size(9, 9);
    @include position(3, 4);
    @include radius(6, 1, 1, 6);
    z-index: 10;
    -webkit-transform: scale(1, 1) skew(0.0rad, 0.0rad) translate(0px, 0px) rotate(0deg);
    transform: scale(1, 1) skew(0rad, 0rad) translate(0px, 0px);
    background-color: transparent;
    border-style: solid;
    @include border-colors($col11, $col11, $col2, $col11);
    @include border-sizes(3, 0, 3, 3);
  }
  #letter4 {
    @include size(18, 12);
    float: left;
    position: relative;
  }

  #shape8{
    @include size(15, 3);
    @include position(3, 4);
    @include radius(0, 0, 0, 0);
    z-index: 10;
    -webkit-transform: scale(1, 1) skew(0.0rad, 0.0rad) translate(0px, 0px) rotate(0deg);
    background-color: $col11;
  }

  #shape9{
    @include size(3, 12);
    @include position(3, 4);
    @include radius(0, 0, 0, 0);
    z-index: 11;
    -webkit-transform: scale(1, 1) skew(0.0rad, 0.0rad) translate(0px, 0px) rotate(0deg);
    background-color: $col11;
  }

  #shape10{
    @include size(2, 11);
    @include position(10, 4);
    @include radius(0, 0, 0, 0);
    z-index: 12;
    -webkit-transform: scale(1, 1) skew(0.0rad, 0.0rad) translate(0px, 0px) rotate(0deg);
    background-color: $col2;
  }

  #shape11{
    @include size(3, 12);
    @include position(15, 4);
    @include radius(0, 0, 0, 0);
    z-index: 13;
    -webkit-transform: scale(1, 1) skew(0.0rad, 0.0rad) translate(0px, 0px) rotate(0deg);
    background-color: $col2;
  }
  #letter5 {
    @include size(18, 12);
    float: left;
    position: relative;
  }

  #shape12{
    @include size(15, 3);
    @include position(3, 5);
    @include radius(0, 0, 0, 0);
    z-index: 10;
    -webkit-transform: scale(1, 1) skew(0.0rad, 0.0rad) translate(0px, 0px) rotate(0deg);
    background-color: $col11;
  }

  #shape13{
    @include size(5, 5);
    @include position(3, 5);
    @include radius(0, 5, 5, 0);
    z-index: 11;
    -webkit-transform: scale(1, 1) skew(0.0rad, 0.0rad) translate(0px, 0px) rotate(0deg);
    background-color: transparent;
    border-style: solid;
    @include border-colors($col2, $col2, $col11, $col11);
    @include border-sizes(2, 4, 2, 3);
  }
  #letter6 {
    @include size(18, 11);
    float: left;
    position: relative;
  }

  #shape14{
    @include size(3, 13);
    @include position(3, 4);
    @include radius(0, 0, 0, 0);
    z-index: 10;
    -webkit-transform: scale(1, 1) skew(0.0rad, 0.0rad) translate(0px, 0px) rotate(0deg);
    background-color: $col2;
  }

  #shape15{
    @include size(15, 3);
    @include position(3, 9);
    @include radius(0, 0, 0, 0);
    z-index: 11;
    -webkit-transform: scale(1, 1) skew(0.0rad, 0.0rad) translate(0px, 0px) rotate(0deg);
    background-color: $col11;
  }
  #letter7 {
    @include size(18, 18);
    float: left;
    position: relative;
  }

  #shape16{
    @include size(3, 10);
    @include position(9, 4);
    @include radius(1, 3, 5, 5);
    z-index: 10;
    -webkit-transform: scale(1, 1) skew(0.0rad, 0.0rad) translate(0px, 0px) rotate(0deg);
    background-color: transparent;
    border-style: solid;
    @include border-colors($col2, $col11, $col11, $col11);
    @include border-sizes(3, 3, 3, 0);
  }

  #shape17{
    @include size(4, 3);
    @include position(8, 4);
    @include radius(0, 0, 0, 0);
    z-index: 11;
    -webkit-transform: scale(1, 1) skew(0.0rad, 0.0rad) translate(0px, 0px) rotate(0deg);
    background-color: $col148;
  }

  #shape18{
    @include size(6, 10);
    @include position(3, 4);
    @include radius(5, 5, 0, 5);
    z-index: 12;
    -webkit-transform: scale(1, 1) skew(0.0rad, 0.0rad) translate(0px, 0px) rotate(0deg);
    background-color: transparent;
    border-style: solid;
    @include border-colors($col11, $col11, $col11, $col2);
    @include border-sizes(2, 0, 1, 3);
  }
